<app-header></app-header>
<p id="switch-title">Checkons un peu la collection SWITCH !!!!</p>
<p>Recherchons un Jeu !</p>
<input [(ngModel)]="jeux" (keyup.enter)="searchingGame()" type="text" />
<ul>
  <li
    *ngFor="let game of switchList | filter : jeux"
    (click)="checkedGameOnline(game)"
  >
    {{ game }}
  </li>
</ul>
<span id="result-search"></span>
<ng-container *ngIf="showAddButton">
  <button (click)="addGame()">yes</button>
  <button (click)="noAddGame()">no</button>
</ng-container>
