* {
    text-align: center;
}

#switch-title {
    text-align: center;
    background: rgb(217, 0, 19);
    background: radial-gradient(circle, rgba(217, 0, 19, 1) 24%, rgba(241, 237, 235, 1) 86%);
}

input {
    display: block;
    margin: 0 auto;
    text-align: center;

}

li {
    list-style: none;
}