<!-- <app-header></app-header> -->
<!-- <div>
    <p>Choix de la collection</p>

</div> -->
<div
  id="collection-div"
  class="collection-choice"
  cdkDropList
  (cdkDropListDropped)="onDrop($event)"
>
  <!-- <p (click)="goTo360()">Xbox 360 / Xbox</p> -->
  <div class="first" cdkDrag>
    <img
      (click)="goTo360()"
      src="../../assets/img/360 2.png"
      alt="logo de la xbox 360"
    />
  </div>
  <!-- <p (click)="goToXbox()">Xbox one / Series</p> -->
  <div class="second" cdkDrag>
    <img
      (click)="goToXbox()"
      src="../../assets/img/xboxseries 2.png"
      alt="logo de la series X"
    />
  </div>
  <!-- <p (click)="goToPsp()">Psp</p> -->
  <div class="third" cdkDrag>
    <img
      (click)="goToPsp()"
      src="../../assets/img/psp 1.png"
      alt="logo de la psp"
    />
  </div>
  <!-- <p (click)="goToSwitch()">Switch</p> -->
  <div class="quatrieme" cdkDrag>
    <img
      (click)="goToSwitch()"
      src="../../assets/img/switch 2.png"
      alt="logo de la switch"
    />
  </div>
  <!-- <p (click)="goToWiiU()">Wii U</p> -->
  <div class="cinquieme" cdkDrag>
    <img
      (click)="goToWiiU()"
      src="../../assets/img/wiiu 2.png"
      alt="logo de la wiiU"
    />
  </div>
  <!-- <p (click)="goToBlueRay()">Blue-ray</p> -->
  <div class="sixieme" cdkDrag>
    <img
      (click)="goToBlueRay()"
      src="../../assets/img/blueray 1.png"
      alt="logo du blueray"
    />
  </div>
  <!-- <p (click)="goTo4k()">4K</p> -->
  <div class="septieme" cdkDrag>
    <img
      (click)="goTo4k()"
      src="../../assets/img/4k 2.png"
      alt="logo des blueray4k"
    />
  </div>
</div>
