* {
    text-align: center;
}

#psp-title {
    text-align: center;
    background: rgb(51, 149, 165);
    background: radial-gradient(circle, rgba(51, 149, 165, 1) 9%, rgba(43, 43, 43, 1) 76%);
}

input {
    display: block;
    margin: 0 auto;
    text-align: center;

}

li {
    list-style: none;
}